* {
  margin: 0px;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar li {
  display: inline-block;
  color: white;
  padding: 15px;
}

nav {
  background-color: rgb(54, 112, 221);
  padding: 7px;
}

.navbar-heading {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  color: rgb(54, 112, 221);
  font-size: 30px;
}

.main-body {
  padding: 35px;
}

.top-heading {
  padding-bottom: 18px;
}

.main-page-text p {
  padding-bottom: 15px;
}

.main-page-text strong {
  color: rgb(54, 112, 221);
}

p.buttons {
  font-size: 15px;
  color: orange;
  border: solid orange 3px;
  width: 140px;
  height: 17px;
  padding: 14px 31px 13px 31px;
  margin-bottom: 35px;
  border-radius: 15px;
}

.follow-heading {
  padding-bottom: 20px;
}

.buttons p {
  font-size: 19px;
  color: white;
  font-weight: bold;
  border: none 3px;
  box-shadow: 1px 0px rgba(90, 80, 80, 0.25);
  border-radius: 15px;
  padding: 14px 32px;
  margin-right: 19px;
  box-sizing: border-box;
  display: inline;
}

.Instagram-link {
  background-color: purple;
}

.Facebook-link {
  background-color: blue;
}

.Youtube-link {
  background-color: red;
}

Footer {
  background-color: rgb(54, 112, 221);
  padding: 20px;
  color: white;
}

.footer-heading {
  font-size: 21px;
  margin-bottom: 15px;
}

.text {
  font-size: 17px;
  font-weight: bold;
}

.gym-locations {
  margin-left: 26px;
}
