* {
  margin: 0px;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar li {
  display: inline-block;
  color: white;
  padding: 15px;
}

nav {
  background-color: rgb(54, 112, 221);
  padding: 7px;
}

.navbar-heading {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  color: rgb(54, 112, 221);
  font-size: 30px;
}

.main-body {
  padding: 35px;
}

.top-heading {
  padding-bottom: 18px;
}
